<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>

  <div class="container" id="app" v-cloak>
    <div class="card">
      <h1>План по изучению Vue.js</h1>

      <div class="steps">
        <div class="steps-content">{{ activeStepText.text }}</div>
        <ul class="steps-list">
          <li class="steps-item" v-for="(step, idx) in steps" :key="idx" :class="[(activeIndex == idx) ? 'active' : (activeIndex > idx) ? 'done' : '']">
            <span>{{ idx + 1 }}</span> {{ step.title }}
          </li>
        </ul>
        <div>
          <button class="btn" :disabled="disabledBtnPrev" @click="prev">Назад</button>
          <button class="btn primary" @click="nextOfFinish" v-if="!lastStep">Вперед</button>
          <button class="btn primary" @click="reset" v-else>Завершить и начать с начала</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="vue.js"></script>
  </body>
</html>
